/*--------------------------Backgrounds--------------------------*/
/**/
body {
  background-image: url("../images/samurai.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  color: #f82418;
  font-family: "Odishi2";
  font-size: 25px;
  text-shadow: -3px 0px 3px black, 0px 3px 3px black, 3px 0px 3px black, 0px -3px 3px black;
  cursor: url("../images/Samurai-8bit.png"), auto;
}
/**/
/*--------------------------Fonts--------------------------*/
/**/
@font-face {
   font-family: 'Odishi2';
   src: url('../fonts/Odishi2.ttf') format('truetype');
}
@font-face {
   font-family: 'domo';
   src: url('../fonts/domo.ttf') format('truetype');
}
/**/
/*--------------------------Main Titles--------------------------*/
/**/
h1 {
  font-family: "Odishi2";
  font-size: 100px;
  /*color: white;*/
  text-shadow: -10px 0px 10px black, 0px 10px 10px black, 10px 0px 10px black, 0px -10px 10px black;
}
#header-styles {
  text-align: center;
}
/**/
/*--------------------------Body Styles--------------------------*/
/**/
h2 {
  font-family: "Odishi2";
  font-size: 50px;
  /*color: white;*/
  text-shadow: -10px 0px 10px black, 0px 10px 10px black, 10px 0px 10px black, 0px -10px 10px black;
}

.container {
  padding: 0;
}

.row {
  margin: 0;
}

#containerPage {
  margin-left: 20px;
  margin-right: 20px;
}

#containerBody {
  height: 400px;
  display: none;
}

#containerRow {
  padding: 10px;
}

#leftColumn {
  height: 370px;
  border-radius: 20px;
}

#rightColumn {
  height: 370px;
  border-radius: 20px;
}

.priceTotalCol-styles {

}

.orderTotalCol-styles {

}

#totalPrice-styles {
  text-align: center;
}

#totalPrice {
  font-family: 'domo';
}

#totalOrder {
  font-size: 15px;
  /*font-family: 'domo';*/
}

.results {
  display: none;
  color: #f82418;
}

#results-styles {
  padding-left: 70px;
}

label:hover {
  color: white;
}

input[type='radio'], input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid black;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px black inset;
}
input[type='radio']:hover, input[type='checkbox']:hover {
    box-shadow:0 0 5px 0px #f82418 inset;
}
input[type='radio']:before, input[type='checkbox']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;
    border-radius:50%;
}
input[type='radio']:checked:before, input[type='checkbox']:checked:before {
    background: #f82418;
}
input[type='radio']:focus, input[type='checkbox']:focus  {
  outline: 0;
}
/**/
/*--------------------------Form Classes & IDs--------------------------*/
/**/
.formSize, .formSauce, .formCheese, .formMeat, .formVeggies, .formSides, .formDrinks, #formViewOrder, #formStartOver {
display: none;
}
/**/
/*--------------------------Buttons--------------------------*/
/**/
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

.btn:hover {
  color: white;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  text-shadow: -2px 0px 2px black, 0px 2px 2px black, 2px 0px 2px black, 0px -2px 2px black;
  width: 300px;
  font-size: 60px;
  background: transparent;
}

#buttons {
  text-align: left;
  padding: 115px 0;
}

#startButton {
  text-align: center;
  padding: 125px 0;
}
/**/
/*--------------------------Cursor--------------------------*/
/**/
.custom {

}
